<footer>
    <div class="row">
      <div class="col-sm-4 d-flex flex-column">
        <a href="https://www.facebook.com/">Facebook</a>
        <a href="https://www.twitter.com/">Twitter</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://www.google.com/">Google +</a>
      </div>
      <div class="col-sm-4 d-flex flex-column">
        <address>
          <h3>Oficina Central</h3>
          <p>Manizales, Caldas, Umanizales</p>
          <p><span class="oi oi-phone"></span>+57 1112223336</p>
          <p>umanizales@umanizales.edu.co</p>
        </address>
      </div>
      <div class="col-sm-4 d-flex flex-column align-items-end">
        <a href="https://www.facebook.com/">Nosotros</a>
        <a href="https://www.twitter.com/">Precios</a>
        <a href="https://www.instagram.com/">Términos y condiciones</a>
        <a href="https://www.google.com/">Contacto</a>
      </div>
    </div>
  </footer>